/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,hr,button a b strong em{
    margin:0; padding:0;
    font-size:12px;
}*/
body {
    font-family: "Microsoft YaHei","Times New Roman",Georgia,Serif;
    background: #fafafa;
    height: 100%;
    margin: 0;
    padding: 0;
    color:#212121;
}
html{
    font-family: "Microsoft YaHei","Times New Roman",Georgia,Serif;height:100%;
}
input {
    font-family: "Microsoft YaHei","Times New Roman",Georgia,Serif;height:100%;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.clearfix {
    zoom: 1;
}

a img {
    border: 0;
}

img {
    vertical-align: top;
}

::-ms-clear, ::-ms-reveal {
    display: none;
}

input {
    border: 0;
}

textarea {
    resize: none;
}

select, textarea {
    outline: none;
}
.header{
    height: 45px;
    line-height: 45px;
    background: #293846;
    color:#fff;
    font-size: 14px;
}
.header .xt-name{
    text-align: left;
    text-indent: 100px;
}
.header .teacher-name{
    text-align: right;
}
.header .header-pro{
    position: relative;
    text-align:center;
    height: 45px;
}
.header-selecetPro{
    position: absolute;
    right:0;top: 40px;
    z-index: 9999
}
.header .logout{
    text-align: left;
    height: 45px;
    line-height: 45px;
}
.tac{
    height: -moz-calc(100% - (45px));
    height: -webkit-calc(100% - (45px));
    height: calc(100% - (45px));
}
.content{
    padding: 16px;
    color:#303133;
    background: #ffffff;
    margin-right: 20px;
}
.left-menu,.left{
    height: 100%;
}

.right{
    background: #f5f5f5;
}
.breadcrumb{
    font-size: 14px;
    height: 26px;
    border-bottom:2px solid #f5f5f5;
    line-height: 26px;
}
.el-breadcrumb{
    height: 26px;
    line-height: 26px;
}
.select-order .el-input  input{
    width: 140px;
}
.pro-desc{
    height: 42px;
    line-height: 42px;
    border-bottom:1px solid #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}
.pro-desc b{
    color: #f00;
    font-weight: bold;
    font-size: 14px;
}
.remind_y {
    background-color: #fcf8e3;
    color: #b98223;
    border: 1px solid #faebcc;
    font-size: 12px;
    padding: 5px;
    line-height: 20px;
}
.remind_y .strong{
    font-weight: bold;
}
table.ck_table{
    border-collapse: separate;
    border-spacing: 5px;
    margin: 5px -5px;
    width: 100%;
}
table.ck_table tr td{
    padding: 6px;
    line-height: 25px;
    color: #666666;
    background: #f3f3f3;
}
table.ck_table tr .bold{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
 .w320 {
    width: 340px;
    font-size: 12px;
}
.w80 {
    width: 80px;
    font-size: 11px;
}
.table-student{

}

.sl_Table {
    border-top: 1px solid #ccd7eb;
    border-right: 1px solid #ccd7eb;
    background-color: #fff;
    width: 96%;
    margin: 0 2%;
}
.sl_Table tr,.sl_Table td{
    margin: 0;
    padding: 0;
}
.sl_Table .bold{
    font-weight:bold;
    color:#333;
}
.sl_Table td {
    border-left: 1px solid #ccd7eb;
    border-bottom: 1px solid #ccd7eb;
    text-align: left;
    padding-left: 10px;
    height: 30px;
    color:#666;
}
.notice-mb{
    margin: 20px;
}
.quill-editor{
    margin-top: 20px;
}
.title{
    text-align:center;
}




